body{
    margin: 1% 1% 1% 1%;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}
header{
    background-color: #9B9B9B;
    text-align: left;
    font-family: 'Montserrat', sans-serif;
    font-size: 2em;
    padding: 2% 0;
    font-weight: 800;
    color: white;
    text-align: center;
    border-bottom: 2px solid #9B9B9B;
    font-family: 'Montserrat', sans-serif;
}

nav {
    display: flex;
    align-content: center;
    padding: 1.5%;
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #D8D8D8;
}

a {
    padding: 0;
    margin: 0;
}

#center {
    margin: auto auto;
}
button{
    padding: 10px 20px 10px 20px;
    margin: 0px 10px 0px 10px;
    border: 2px solid #D8D8D8;
    color: #9B9B9B;
    background-color: white;
    transition-duration: 0.4s;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}
button:hover {
    background-color: #9B9B9B;
    color: white;
}
.txt1{
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 30px;
    display: block;
}
input[type=text]{
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px 10px;
}
label{
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: small;
    margin: 5px 0px 5px 0px;
}
fieldset{
    border: none;
}
select{
    width: 450px    ;
    border: 1px solid #ccc;
    border-radius: 3px;
    padding: 10px 10px;
    outline: none;
    box-sizing: border-box;
}
input[type=select]:focus{
    border: 2px solid #9B9B9B;
    border-radius: 3px;
    outline: #9B9B9B;
}
input[type=submit]{
    background-color: #9B9B9B;
    color: white;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    display: block;
    width: 450px;
    margin: 10px 0px 0px 0px;
}
input[type=submit]:focus{
    border: 2px solid #9B9B9B;
    border-radius: 3px;
    outline: #9B9B9B;
}
input[type=text]:focus {
    border: 2px solid #9B9B9B;
    border-radius: 3px;
    outline: #9B9B9B;
}
a{
    text-decoration: none
}
textarea{
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 100px;
    padding: 10px;
}
textarea:focus{
    border: 2px solid #9B9B9B;
    border-radius: 3px;
    outline: #9B9B9B;
}
footer{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #9B9B9B;
}